[Unit]
Description=Worker for analyzing images
After=mysql.service

[Service]
User=ubuntu
ExecStart=/home/ubuntu/faravent-mqtt-controller/run.sh
WorkingDirectory=/home/ubuntu/faravent-mqtt-controller/
KillSignal=SIGKILL
Restart=on-abort
Type=simple
TimeoutStartSec=1
TimeoutStopSec=1
StandardOutput=syslog
StandardError=syslog
NotifyAccess=all
SyslogIdentifier=mqtt_controller

[Install]
WantedBy=multi-user.target
